<div class="navigation-wrapper">
  <div class="navigation">
    <div class="logo-flex _2">
      <a data-w-id="816e8529-f3a1-bac7-e69b-d37e3eee8f68" href="/#home" class="logo-wrapper visibly-logo-wrapper w-inline-block"><img src="/images/visbly.svg" loading="lazy" alt="Visibly" class="circle-logo visibly-svg-logo"></a>
      <p class="logo-text">Reklama &amp; tisk se sídlem<br>v srdci Slezska.<br></p>
    </div>
    <nav class="visibly-desktop-nav" aria-label="Hlavní navigace desktop">
      <a href="/tisk">Tisk</a>
      <a href="/polepy">Polepy</a>
      <a href="/reklama">Reklama</a>
      <a href="/realizace">Realizace</a>
      <a href="/technologie">Technologie</a>
      <a href="/o-nas">O nás</a>
      <a href="/kontakt">Kontakt</a>
    </nav>
    <div id="w-node-_816e8529-f3a1-bac7-e69b-d37e3eee8f6f-3eee8f65" data-w-id="816e8529-f3a1-bac7-e69b-d37e3eee8f6f" class="hamburger">
      <div class="hamburger-menu _2"><img src="/images/dot-p-500.png" loading="lazy" alt="" class="dots"><img src="/images/close.png" loading="lazy" alt="" class="remove">
        <div data-is-ix2-target="1" class="lottie-animation" data-w-id="816e8529-f3a1-bac7-e69b-d37e3eee8f73" data-animation-type="lottie" data-src="/documents/88663-circle.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2.6666666666666665" data-duration="0" data-loading="eager"></div>
      </div>
      <div class="menu-text-wrapper">
        <div class="menu-text">Menu</div>
        <div class="menu-text">Close</div>
      </div>
    </div>
    <div class="second-part">
      <a data-w-id="816e8529-f3a1-bac7-e69b-d37e3eee8fb1" href="/kontakt#poptavka" class="button-circle hide w-inline-block">
        <div>Poptat výrobu</div>
        <div class="button-overlay active"></div>
      </a>
    </div>
  </div>
  <div class="menu">
    <div class="container _2">
      <div>
        <nav class="navigation-content" aria-label="Hlavní navigace">
          <a href="/tisk" class="navigation-link _1 w-inline-block">
            <div class="navigation-text _2">Tisk</div>
            <div class="navigation-line">
              <div class="navigation-sub-line"></div>
            </div>
          </a>
          <a href="/polepy" class="navigation-link _2 w-inline-block">
            <div class="navigation-text _2">Polepy</div>
            <div class="navigation-line">
              <div class="navigation-sub-line"></div>
            </div>
          </a>
          <a href="/reklama" class="navigation-link _3 w-inline-block">
            <div class="navigation-text _3">Reklama</div>
            <div class="navigation-line">
              <div class="navigation-sub-line"></div>
            </div>
          </a>
          <a href="/realizace" class="navigation-link _4 w-inline-block">
            <div class="navigation-text _4">Realizace</div>
            <div class="navigation-line">
              <div class="navigation-sub-line"></div>
            </div>
          </a>
          <a href="/technologie" class="navigation-link _5 w-inline-block">
            <div class="navigation-text _5">Technologie</div>
            <div class="navigation-line">
              <div class="navigation-sub-line"></div>
            </div>
          </a>
          <a href="/o-nas" class="navigation-link _1 w-inline-block">
            <div class="navigation-text _2">O nás</div>
            <div class="navigation-line">
              <div class="navigation-sub-line"></div>
            </div>
          </a>
          <a href="/kontakt" class="navigation-link _2 w-inline-block">
            <div class="navigation-text _2">Kontakt</div>
            <div class="navigation-line">
              <div class="navigation-sub-line"></div>
            </div>
          </a>
          <div class="margin-60px">
            <div class="visibly-menu-note">
              <p>Velkoformát, polepy, světelná reklama i design. Vlastní výroba v Opavě.</p>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
