<div class="visibly-top-info-bar" data-top-info-bar>
  <div class="visibly-top-info-bar__inner">
    <p class="visibly-top-info-bar__text">
      <span class="visibly-top-info-bar__desktop-text">Tisknete pro klienty? Pro agentury a grafická studia máme partnerské podmínky.</span>
      <span class="visibly-top-info-bar__mobile-text">Agentury a grafici tisknou u nás za partnerských podmínek.</span>
    </p>
    <a class="visibly-top-info-bar__link" href="/kontakt#kontakt-formular">
      <span class="visibly-top-info-bar__desktop-text">Chci partnerský ceník</span>
      <span class="visibly-top-info-bar__mobile-text">Ceník</span>
      <div class="button-overlay active"></div>
    </a>
  </div>
</div>
